@import 'constants';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font: 16px/18px $fonts;
  height: 100%;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

pre {
  display: inline-block;
  font: 14px/16px $mono;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

h1 {
  line-height: 2em;
  font-size: 3em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

h3 {
  line-height: 2em;
  font-size: 2em;
  font-weight: 300;
}

header {
  background: $red url(../img/hero.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
  width: 100%;

  &::before {
    background-color: rgba(255,78,80,.65);
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  #header-info {
    height: 10em;
    position: absolute;
    top: 50%;
    margin-top: -5em;
    width: 100%;

    h2 {
      margin-bottom: 2.5em;
    }

    .button {
      @include border-radius(5px);
      @include transition(all, 0.3s);
      border: 1px solid #fff;
      padding: 1em 2em;

      &:hover {
        background: #fff;
        color: $red;
      }
    }
  }

}

section {
  background: $orange;
  padding: 2em;

  h3 {
    color: #fff;
  }

  .recipe {
    width: auto;

    pre {
      @include border-radius(5px);
      background: #fdc08e;
      margin: 0.5em 0;
      padding: 0.35em 0.5em;
    }
  }
}

footer {
  background: $tan;
  font-size: 0.9em;
  padding: 4em 1em;
}