.login {
  background: #fc913a; }
  .login header {
    background: #ff4e50;
    height: 6em;
    text-align: left; }
    .login header::before {
      height: 0;
      width: 0; }
    .login header h1 {
      margin-left: 1em; }
  .login #login-form {
    height: 100%; }
    .login #login-form #form {
      margin: 0 auto;
      width: 75%; }
      .login #login-form #form h3 {
        border-bottom: 1px solid #fff;
        color: #fff;
        margin: 1em 0;
        padding-bottom: 0.5em; }
      .login #login-form #form button {
        display: block;
        margin-bottom: 2em; }
        .login #login-form #form button:hover, .login #login-form #form button:focus {
          background: #fff;
          color: #fc913a; }
    .login #login-form section {
      display: inline-block;
      padding: 0 1em;
      text-align: left;
      vertical-align: top;
      width: 50%; }
      @media (max-width: 992px) {
        .login #login-form section {
          display: block;
          width: 100%; } }

.dashboard {
  background: #e1f5c4; }
  .dashboard button {
    background: #ff4e50; }
  .dashboard header {
    background: #ff4e50;
    height: 6em;
    text-align: left; }
    @media (max-width: 992px) {
      .dashboard header {
        height: 8em; } }
    .dashboard header::before {
      height: 0;
      width: 0; }
    .dashboard header h1 {
      margin-left: 1em; }
    .dashboard header #menu {
      top: 3em; }
      @media (max-width: 992px) {
        .dashboard header #menu {
          display: block;
          position: inherit;
          margin-left: 4em; } }
      .dashboard header #menu #user {
        margin-right: 2em; }
  .dashboard #dash {
    background: #e1f5c4;
    padding: 1em; }
    .dashboard #dash > section {
      display: inline-block;
      text-align: left;
      vertical-align: top;
      width: 40%; }
      @media (max-width: 992px) {
        .dashboard #dash > section {
          display: block;
          width: 100%; } }
      .dashboard #dash > section section {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #fc913a;
        margin: 0 0.5em 1em 0.5em;
        padding: 1.5em; }
      .dashboard #dash > section h4 {
        font-weight: 300;
        line-height: 2em; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

::selection {
  background: #ff4e50; }

html,
body {
  font: 16px/18px "Raleway", "Helvetica Neue", "Helvetica" sans-serif;
  height: 100%;
  text-align: center; }

a {
  color: #fff;
  text-decoration: none; }

pre {
  display: inline-block;
  font: 14px/16px "Source Code Pro", "Consolas", "Courier New", monospace;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word; }

h1 {
  line-height: 2em;
  font-size: 3em;
  font-weight: 300; }

h2 {
  font-size: 1.5em;
  font-weight: 300; }

h3 {
  line-height: 1.2em;
  font-size: 2em;
  font-weight: 300; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 1em; }

input,
button {
  font-family: "Raleway", "Helvetica Neue", "Helvetica" sans-serif; }

input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #e1f5c4;
  border: 1px solid #fff;
  font-size: 1.2em;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%; }
  input:focus {
    background: #fff; }

button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  color: #fff;
  padding: 1em 2em; }

header {
  background: #ff4e50 url(../img/hero.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
  width: 100%; }
  header::before {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(255, 78, 80, 0.65);
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  header:hover::before {
    background-color: rgba(255, 104, 105, 0.65); }
  header #menu {
    font-size: 0.8em;
    position: absolute;
    right: 1em;
    text-transform: uppercase;
    top: 1em; }
  header #header-info {
    height: 16em;
    position: absolute;
    top: 50%;
    margin-top: -8em;
    width: 100%; }
    header #header-info h2 {
      margin-bottom: 1em; }
    header #header-info h4 {
      font-weight: 300;
      margin-bottom: 3.5em; }
    header #header-info .button {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      border: 1px solid #fff;
      cursor: pointer;
      padding: 1em 2em; }
      header #header-info .button:hover {
        background: #fff;
        color: #ff4e50; }

section#learn-more {
  background: #fc913a;
  color: #fff;
  padding: 2em 2em 0;
  width: 100%; }
  section#learn-more h3 {
    margin-bottom: 1em; }
  section#learn-more h4 {
    margin-bottom: 1em; }
  section#learn-more #recipes {
    width: 450px;
    text-align: left; }
  section#learn-more #demo {
    text-align: right; }
    @media (max-width: 992px) {
      section#learn-more #demo {
        margin-top: 2em; } }
  section#learn-more #recipes,
  section#learn-more #demo {
    display: inline-block;
    vertical-align: bottom; }
    @media (max-width: 992px) {
      section#learn-more #recipes,
      section#learn-more #demo {
        display: block;
        text-align: center;
        width: 100%; } }
  section#learn-more .recipe {
    cursor: pointer;
    width: auto; }
    section#learn-more .recipe pre {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      background: #e1f5c4;
      color: #000;
      margin: 0.5em 0;
      padding: 0.35em 0.75em; }
      section#learn-more .recipe pre:hover {
        background: #fff; }
  section#learn-more #coming-soon {
    margin: 1em 0; }
  section#learn-more #phone {
    background: url(../img/phone.png) no-repeat;
    background-size: 282px 267px;
    height: 267px;
    margin: 6.5em auto 0 auto;
    vertical-align: bottom;
    width: 282px; }
    @media (max-width: 992px) {
      section#learn-more #phone {
        margin-top: 2.5em; } }
    section#learn-more #phone #example {
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      background: url(../img/phone/current.jpg) no-repeat;
      background-size: 263px auto;
      height: 166px;
      position: relative;
      top: 101px;
      left: 9px;
      width: 263px; }

footer {
  background: #ede574;
  color: #222222;
  font-size: 0.9em;
  padding: 4em 1em; }
  footer #donate {
    margin-bottom: 1.5em; }
  footer #disclosure {
    font-size: 0.75em; }
  footer p {
    margin-top: 0.5em; }
  footer a {
    border-bottom: 1px dotted #777;
    color: #000; }

.paypal-button button {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: none !important;
  border: 1px solid #222222 !important;
  border-radius: 5px !important;
  color: #222222 !important;
  font: normal 1em "Raleway", "Helvetica Neue", "Helvetica" sans-serif !important;
  text-shadow: none !important;
  padding: 0.5em 2em !important; }
  .paypal-button button::before, .paypal-button button::after {
    background: none !important; }
  .paypal-button button:hover {
    background: #fff !important; }
