<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>txti: Information without Internet</title>
  <meta property="og:url" content="http://unhaltable.com/">
  <meta property="og:title" content="txti: Information without Internet">
  <meta property="og:image" content="http://unhaltable.com/statimg/favicon.png">
  <meta property="og:description" content="Access the world of information without an Internet connection.">
  <meta property="og:type" content="article">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:400,300,500'>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Source+Code+Pro'>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="icon" type="image/png" href="static/img/favicon.png">
  <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->
  <script src="static/js/paypal-button.min.js"></script>
  <script src="static/js/jquery.min.js"></script>
</head>
<body>
  <header>
    <div id="menu">
      <a href="/login"> {{ topright_text }}</a>
    </div>
    <div id="header-info">
      <h1>txti</h1>
      <h2>Information without the Internet</h2>
      <h4>(437) 800-2585</h4>
      <a class="button" id="more-button">Learn more</a>
    </div>
  </header>
  <section id="learn-more">
    <h3>No Internet? No problem.</h3>
    <h4>Available formulae:</h4>
    {% raw %}
    <section id="recipes">
      <div class="recipe" data-key="ttc" title="TTC route information"><pre>Next bus for {{route}} {{direction}} at {{intersection}}</pre></div>
      <div class="recipe" data-key="current" title="The current weather conditions"><pre>Current weather in {{city}}</pre></div>
      <div class="recipe" data-key="forecast" title="The day's forecast"><pre>Today's forecast for {{city}}</pre></div>
      <div class="recipe" data-key="next_forecast" title="The next period of time's forecast"><pre>Forecast for {{city}}</pre></div>
      <div class="recipe" data-key="define" title="Merriam-Webster definitions"><pre>Define {{word}}</pre></div>
      <div class="recipe" data-key="cdf" title="Get information about available University of Toronto CDF machines"><pre>CDF {{lab}}</pre></div>
      <div class="recipe" data-key="bitly" title="Shorten a URL with bit.ly"><pre>Shorten {{url}}</pre></div>
      <div class="recipe" data-key="rotten" title="Information about a movie from Rotten Tomatoes"><pre>Rotten Toy Story 3</pre></div>
      <div class="recipe" data-key="rng" title="Random number between 0 and 1"><pre>rng</pre></div>
      <div class="recipe" data-key="rng2" title="Random number between x and y"><pre>rng {{x}} {{y}}</pre></div>
      <div class="recipe" data-key="die" title="Roll n die, each with x number of faces"><pre>Roll {{n}} D {{x}}</pre></div>
      <div class="recipe" data-key="btc" title="Get information about Bitcoin"><pre>BTC</pre></div>
      <div class="recipe" data-key="doge" title="Get information about Dogecoin"><pre>doge</pre></div>
      <div class="recipe" data-key="calc" title="Perform calculations"><pre>Calc {{formula}}</pre></div>
      <div class="recipe" data-key="tip" title="Calculate tip"><pre>Tip ${{amount}} {{percent}}%</pre></div>
      <!-- 4chan {{board}}, Jeff Wu -->
      <p id="coming-soon">...and more coming soon!</p>
    </section><section id="demo">
    {% endraw %}
      <h5>Ask. Receive.</h5>
      <h5 id="number">(437) 800-2585</h5>
      <div id="phone">
        <div id="example"></div>
      </div>
    </section>
  </section>
  <footer>
    <div id="donate">
      <script src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=ey.cheung@outlook.com"
        data-button="donate"
        data-name="Donate"
        data-text="Donate via PayPal"
        data-quantity="1"
        data-amount="5.00"
        data-currency="CAD"
        data-shipping="0"
        data-tax="0"
      ></script>
    </div>
    <p id="disclosure">Standard SMS fees apply.</p>
    <p>Created with love by Team Unhaltable at <a href="https://2014.battlehack.org/toronto">BattleHack 2014 Toronto</a>.</p>
    <p>
      <a href="https://www.twitter.com/arkon">@arkon</a> &middot; <a href="https://www.twitter.com/spe_">@spe_</a> &middot; <a href="https://www.twitter.com/jwebbed">@jwebbed</a> &middot; <a href="https://www.twitter.com/AdjectiveObject">@AdjectiveObject</a>
    </p>
  </footer>
  <script src="static/js/script.js"></script>
</body>
</html>