.login {
  background: $orange;

  header {
    background: $red;
    height: 6em;
    text-align: left;

    &::before {
      height: 0;
      width: 0;
    }

    h1 {
      margin-left: 1em;
    }
  }

  #login-form {
    height: 100%;

    #form {
      margin: 0 auto;
      width: 75%;

      h3 {
        border-bottom: 1px solid #fff;
        color: #fff;
        margin: 1em 0;
        padding-bottom: 0.5em;
      }

      button {
        display: block;

        &:hover,
        &:focus {
          background: #fff;
          color: $orange;
        }
      }
    }

    section {
      display: inline-block;
      padding: 0 1em;
      text-align: left;
      vertical-align: top;
      width: 50%;

      @include breakpoint(medium) {
        display: block;
        width: 100%;
      }
    }
  }
}